<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css1/styles.css">
    <title>Discover</title>
</head>
<body>
    <div class="_1">
        <div class="content">
          <div class="title">
            Discover the beauty around the world
          </div>
          <div class="text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in
            libero risus semper habitant arcu eget. Et integer facilisi eget diam.
          </div>
          <div class="primary-button">
            <div class="contact-us">Explore</div>
          </div>
        </div>
        <div class="image-list">
          <div class="frame-14147">
            <div class="_12">
              <img class="rectangle-3" src="../storage1/img/rectangle-30.png" />
            </div>
            <div class="_2">
              <img class="rectangle-4" src="../storage1/img/rectangle-40.png" />
            </div>
            <div class="_3">
              <img class="rectangle-4" src="../storage1/img/rectangle-41.png" />
            </div>
            <div class="_4">
              <img class="rectangle-3" src="../storage1/img/rectangle-31.png" />
            </div>
          </div>
          <div class="frame-14148">
            <div class="_13">
              <img class="rectangle-3" src="../storage1/img/rectangle-32.png" />
            </div>
            <div class="_22">
              <img class="rectangle-4" src="../storage1/img/rectangle-42.png" />
            </div>
            <img
              class="_32" src="../storage1/img/_31.png"/>
            <img
              class="_42" src="../storage1/img/_41.png"/>
          </div>
        </div>
      </div>
</body>
</html>