../<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css7/styles.css">
    <title>7</title>
</head>
<body>
    <div class="title">
        <h4>Design is the way how you express the feelings</h4>
    </div>
    <div class="caja">
        <div class="caja1">
            <div class="caja1-1">
                <h1>01</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div class="caja1-2">
                <div class="caja1-2-1">
                    <h1>Title</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus</p>
                </div>
            </div>
        </div>
        <div class="caja2">
            <div class="caja2-1">
                <h1>02</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div class="caja2-2">
                <div class="caja2-2-1">
                    <h1>Title</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus</p>
                </div>
            </div>
        </div>
        <div class="caja3">
            <div class="caja3-1">
                <h1>03</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div class="caja3-2">
                <div class="caja3-2-1">
                    <h1>Title</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus</p>
                </div>
            </div>
        </div>
        <div class="caja4">
            <div class="caja4-1">
                <h1>04</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div class="caja4-2">
                <div class="caja4-2-1">
                    <h1>Title</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus</p>
                </div>
            </div>
        </div>

    </div>
</body>
</html>