:root{
    --color-1: #ffffff;
    --color-2: #252525;
    --color-3: rgba(37, 37, 37, 0.8);
    --color-4: #D9D9D9;
}
@font-face {
    font-family: "Avenir-Heavy";
    src: url(../storage1/font/Avernir/AvenirLTStd-Heavy.otf);
}
@font-face {
    font-family: "Avenir-Roman";
    src: url(../storage1/font/Avernir/AvenirLTStd-Roman.otf);
}